progress-bar {
 
    .progress-outer {
        width: 96%;
        margin: 10px 2%;
        text-align: center;
        background-color: #f4f4f4;
        border: 1px solid #dcdcdc;
        color: #fff;
        border-radius: 6px;
    }
 
    .progress-inner {
        white-space: nowrap;
        overflow: hidden;
        padding: 3px;
        border-radius: 6px;
        background-color: map-get($colors, primary);
    }
 
}